@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
	width: 100vw;

	margin-inline: auto;
}

@layer components {
	.wrapper {
		@apply px-6 sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl;
	}
}

