@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
	width: 100vw;

	margin-inline: auto;
}

@layer components {
	.wrapper {
		@apply mx-6 sm:mx-10 md:mx-14 xl:mx-20;
	}
}

