@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100vh;
	width: 100vw;

	margin-inline: auto;
}

@layer components {
	.wrapper {
		@apply px-6 sm:px-10 md:px-14 xl:px-20;
	}
}

